
<html lang="en-US">

<head>
    <title>@ViewBag.Title</title>

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Content/fontawesome/js/all.min.js"></script>
    <script src="~/Scripts/jquery.tooltipster.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    @Scripts.Render("~/bundles/scripts")
</head>


<body style="margin:0;">

    <div id="body" style="z-index:1;margin-top:14px;">
        @RenderBody()
    </div>

</body>
</html>



