obj.push("<div id='LookupNavBar' style='margin-bottom:20px;'>                                                                       ");
obj.push("    <center>                                                                                                              ");
obj.push("        <table style='width:93%;'>                                                                                        ");
obj.push("            <tr>                                                                                                          ");
obj.push("                <td>                                                                                                      ");
obj.push("                    <span class='hover-me nav-arrows fa fa-angle-double-left' onclick='NavigatePage(-100000)'> </span>    ");
obj.push("                    <span class='hover-me nav-arrows fa fa-angle-left' onclick='NavigatePage(-1)'> </span>                ");
obj.push("                    <span id='navPages'></span>                                                                           ");
obj.push("                    <span class='hover-me nav-arrows fa fa-angle-right' onclick='NavigatePage(1)'> </span>                ");
obj.push("                    <span class='hover-me nav-arrows fa fa-angle-double-right' onclick='NavigatePage(100000)'> </span>    ");
obj.push("                                                                                                                          ");
obj.push("                </td>                                                                                                     ");
obj.push("                <td align='right' id='tdPageInfo'></td>                                                                   ");
obj.push("            </tr>                                                                                                         ");
obj.push("        </table>                                                                                                          ");
obj.push("    </center>                                                                                                             ");
obj.push("</div>                                                                                                                    ");