
/*  table  */
.tr-row-pointer {
    cursor: pointer;
}
.tr-row-pointer:hover {
    background-color: #11b9fc;
}
table {
    border-collapse: unset;
}
.table-bordered tr td {
    border: 1px solid #ccc;
}

.table-padding-sm tr td {
    padding: 2px;
}
.table-padding-md tr td {
    padding: 4px;
}
.table-padding-lg tr td {
    padding: 7px;
}


.input-required-highlight {
    border: 1px solid red;
}

/*  menu styles  */
#main_nav {
    margin: 0;
    padding: 0;
}

#main_nav ul {
    margin: 0;
    padding: 0;
    background: white;
    float: left;
    -webkit-transition: .1s;
    transition: .1s;
}

    #main_nav li {
        margin: 0;
        padding: 3px;
        padding-right: 30px;
        float: left;
        position: relative;
        /*min-width: 150px;*/
        list-style: none;
        -webkit-transition: .1s;
        transition: .1s;
        /*border: 1px solid red;*/
        white-space: nowrap;
    }

    #main_nav ul ul {
        position: absolute;
        left: 0;
        top: 100%;
        visibility: hidden;
        opacity: 0;
    }
    #main_nav ul ul li {

        min-width: 200px;
    }
#main_nav ul ul ul {
    left: 100%;
    top: 0;
}

#main_nav li:hover, #main_nav li:hover li {
    cursor: pointer;
    background: #ddd;
}

#main_nav li li:hover, #main_nav li li:hover li {
    background: #bbb;
}

#main_nav li li li:hover {
    background: #999;
}

#main_nav li:hover > ul {
    visibility: visible;
    opacity: 1;
}


/*  tab styles */
.main-tab-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}


.main-tab-ul li {
    cursor: pointer;
    float: left;
    display: block;
    color: white;
    text-align: left;
    padding: 5px;
    width: 220px;
    text-decoration: none;
    border-right: 1px solid #bbb;
}

.main-tab-close {
    padding: 3px;
    cursor:pointer;
    font-size: 1.3em;
    border-radius: 3px;
    float: right;
}

    .main-tab-close:hover {
        background-color: #faeeaa;
    }

.main-tab-li-hover:hover {
    background-color: #111111;
}

.tab-active {
    background-color: darkseagreen;
}

#MainPageContent {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* common styles */
.sort-grey {
    color: #ccc;
}

.cursor-pointer {
    cursor: pointer;
}


/* form command buttons */

.command-bar-container {
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-bottom:20px;
}

.command-active-span {
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    color: #333333;
}

    .command-active-span:hover {
        background-color: #007cc0;
        color: white;
    }

.command-disabled-span {
    color: #ccc;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
}

.command-icon {
 font-size:1.35em;
}
.command-icon-small {
    font-size: 1em;
}
/* command-bar  */
.command-bar {
    background: #ddd;
    padding: 5px;
    padding-left: 7px;
}

    .command-bar span {
        float: right;
        cursor: pointer;
        margin-right: 3px;
    }

        .command-bar span:hover {
            border-radius: 3px;
            background: #f9733d;
        }

/* select-bar  */
.select-bar {
    cursor: pointer;
}
    .select-bar:hover {
        background: #eee;
    }
.select-bar-active {
    background: #f9733d;
}

/***********  buttons  ***************/
.app-btn {
    border-radius:3px;
    padding:5px;
    padding-right:15px;
    padding-left:15px;
    color: #333333;
    cursor:pointer;
}
    .app-btn:hover {
        background: #cdf1ff;
    }

    .app-btn.primary {
        background: #11b9fc;
    }
        .app-btn.primary:hover {
            background: #079cd8;
        }

    .app-btn.secondary {
        background: #999;
    }



.modal-window {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px #ddd;
    display: none;
    border-radius: 7px;
    background-color: #fff;
    min-width: 600px;
    z-index:2;
}



#overlay-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: #ccc;
    opacity: 0.5;
    z-index: 1;
}

#overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: #ccc;
    opacity: 0.5;
    z-index: 1;
}

.custom-tab-content {
    list-style-type: none;
    padding: 10px;
}

.custom-tab {
    list-style-type: none;
    margin: 0;
    padding-top: 3px;
    overflow: hidden;
    background-color: #ccc;
}

    .custom-tab li {
        float: left;
        cursor: pointer;
        margin-right: 5px;
        padding: 3px;
        padding-right: 10px;
    }

        .custom-tab li:hover {
            background-color: #eee;
            border-top-right-radius: 7px;
            border-top-left-radius: 7px;
        }

.custom-tab-active {
    background-color: #eee;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}