


<nav id="main_nav"></nav>
<br />
<br />

<ul id="MainTab" class="main-tab-ul"><li class='tab-item tab-active' id='tab0' onclick="PageFocus('0')">Home<span>&nbsp;</span></li></ul>
<br />
<ul id="MainPageContent"><li id='page0' class='page-content'>Home Page Content<br />Rock and Roll</li></ul>


<div id="MessageBox" class="modal-window">
    <div style="padding-top:5px;padding-left:10px;"><span id="messageBoxTitle">Title</span>  <span style="float:right;padding-right:10px;cursor:pointer;" onclick="CloseMessageBox()">X</span></div>
    <hr />

    <center>
        <div style="padding:10px;"><span id="messageBoxText">Text</span></div>

        <br />
        <span class="app-btn primary" onclick="CloseMessageBox()">O K</span>
        <br />
        <br />
        &nbsp;
    </center>
</div>



<div id="ConfirmBox" class="modal-window">
    <div style="padding-top:5px;padding-left:10px;"><span id="confirmBoxTitle">Title</span>  <span style="float:right;padding-right:10px;cursor:pointer;" onclick="CloseConfirmBox()">X</span></div>
    <hr />

    <center>
        <div style="padding:10px;"><span id="confirmBoxText">Text</span></div>

        <br />
        <span class="app-btn primary" onclick="ConfirmMessageYes()"> Yes </span>
        &nbsp;&nbsp;
        <span class="app-btn primary" onclick="ConfirmMessageNo()"> No </span>
        <br />
        <br />
        &nbsp;
    </center>
</div>



<div id="overlay"></div>
<div id="appSpinner" class=""><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>









