
<style>
    .menu-item {
        min-width: 200px;
        white-space: nowrap;
        padding: 0.5em;
    }

    #menuSortable > div {
        float: left;
    }
</style>




<div class="menu-container">
    <div id="#menuSortable">

    </div>
</div>


<script>
    $(document).ready(function () {
        GetAdminMenuList();
    });

    function GetAdminMenuList() {
        $.ajax({
            url: "./Menu/GetMenuList",
            dataType: "json",
            success: function (data) {
                var records = data;
                var obj = [];
                obj.push("<ul>");

                // record rows
                for (var i = 0; i < records.length; i++) {
                    var row = records[i];

                    obj.push("<div onclick='MenuClick(1, " + row.Menu1ItemId + ", false)'>");  // level one
                    obj.push(row.MenuTitle);
                    if (row.Menu2Item.length > 0) {
                        obj.push("<ul>");
                        for (var x = 0; x < row.Menu2Item.length; x++) {
                            var row2 = row.Menu2Item[x];

                            obj.push("<li onclick='MenuClick(2, " + row2.Menu2ItemId + ", false)'>");  // level two
                            obj.push(row2.MenuTitle);

                            if (row2.Menu3Item.length > 0) {
                                obj.push("<ul>");
                                for (var y = 0; y < row2.Menu3Item.length; y++) {

                                    var row3 = row2.Menu3Item[y];
                                    obj.push("<li onclick='MenuClick(3, " + row3.Menu3ItemId + ", false)'>");  // level three
                                    obj.push(row3.MenuTitle);
                                    obj.push("</li>");
                                }
                                obj.push("</ul>");
                            }

                            obj.push("</li>");
                        }
                        obj.push("</ul>");
                    }
                    obj.push("</li>");
                }
                obj.push("</ul>");

                var str = obj.join("");
                $("#main_nav").html(str)
            }
        });
    }


</script>



<div id="draggable1" class="menu-item">
    Administration
    <ul id="sortable1" class="connectedSortable">
        <li>AdminSub Menu I</li>
        <li>AdminSub Menu II</li>
        <li>AdminSub Menu III</li>
    </ul>
</div>
<div id="draggable2" class="menu-item">
    Contact Us
</div>

<div id="draggable4" class="menu-item">
    Menu Item 4
</div>
<div id="draggable5" class="menu-item">
    Menu Item 5
    <ul id="sortable2" class="connectedSortable">
        <li>Sub Menu I</li>
        <li>Sub Menu II</li>
        <li>
            Sub Menu III
            <ul id="sortable3" class="connectedSortable">
                <li>Sub Menu One</li>
                <li>Sub Menu Two</li>
                <li>Sub Menu Three</li>

            </ul>
        </li>
    </ul>

</div>
