
<center>
    <table style="width:98%;">

        <tr>
            <td class="command-bar" style="width:10%;">
                Databases
                <span onclick="DeleteDatabase()">[x]</span>
                <span onclick="OpenModalWindow('WindowDatabase')">[/]</span>
                <span onclick="OpenModalWindow('WindowDatabase')">[+]</span>
            </td>
            <td class="command-bar" style="width:10%;">
                Tables
                <span>[x]</span>
                <span>[+]</span>
            </td>
            <td class="command-bar" style="width:10%;">
                Data Objects
            </td>
            <td class="command-bar" style="width:70%;">
                Properties
            </td>

        </tr>

        <tr valign="top">
            <td class="" style="border:solid 1px #ccc;width:10%;">
                <div id="divAppDatabases"></div>
            </td>
            <td class="" style="border:solid 1px #ccc;width:10%;">
                <div id="divAppTables"></div>
            </td>
            <td class="" style="border:solid 1px #ccc;width:10%;">
                <table>
                    <tr>
                        <td class="width200 command-bar">
                            Fields
                            <span>[x]</span>
                            <span>[+]</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom:20px;">
                            <div id="divAppColumns"></div>
                        </td>
                    </tr>

                    <tr>
                        <td class="width200 command-bar">
                            Grids
                            <span>[x]</span>
                            <span>[+]</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom:20px;">
                            <div id="divGrids"></div>
                        </td>
                    </tr>

                    <tr>
                        <td class="width200 command-bar">
                            Forms
                            <span>[x]</span>
                            <span>[+]</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom:20px;">
                            <div id="divForms"></div>
                        </td>
                    </tr>


                    <tr>
                        <td class="width200 command-bar">
                            Search Forms
                            <span>[x]</span>
                            <span>[+]</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-bottom:20px;">
                            <div id="divSearchForms"></div>
                        </td>
                    </tr>

                </table>

            </td>
            <td style="width:70%;">
                <div id="divProperties"></div>
                
            </td>

        </tr>

    </table>

</center>


<div id="WindowDatabase"  class="modal-window">
    <div style="padding-top:5px;padding-left:10px;"><span>Add Database</span>  <span style="float:right;padding-right:10px;cursor:pointer;" onclick="CloseModalWindow('WindowDatabase')">X</span></div>
    <hr />

    <form id="FormDatabase">
        <input type="hidden" id="AppDatabaseId" />
        <center>
            <table>
                <tr>
                    <td>Database Name</td>
                    <td><input type="text" id="DatabaseName" class="input-required" /></td>
                </tr>
                <tr>
                    <td>Connection String</td>
                    <td><input type="text" id="ConnectionString" class="input-required" /></td>
                </tr>
                <tr>
                    <td>Radio</td>
                    <td><input type="radio" name="Radios1" class="input-required" value="Yes">Yes  <br /> <input type="radio" name="Radios1" class="input-required" value="No">No      </td>
                </tr>

                <tr>
                    <td>Checkboxes</td>
                    <td><input type="checkbox" name="Checkboxes1" class="input-required" value="1">1  <br /><input type="checkbox" name="Checkboxes1" class="input-required" value="2">2   <br /><input type="checkbox" name="Checkboxes1" class="input-required" value="3">3   </td>
                </tr>


                <tr>
                    <td>text</td>
                    <td><textarea id="TextareaObject" class="input-required"></textarea></td>
                </tr>

                <tr>
                    <td>Dropdown</td>
                    <td><select id="SelectObject" class="input-required"><option value=""> </option><option value="drop1">Drop One</option><option value="drop2">Drop Two</option><option value="drop3">Drop Three</option></select></td>
                </tr>

            </table>

            <br />
            <span class="app-btn primary" onclick="SaveDatabase()">Save</span>
            <span class="app-btn primary" onclick="CloseModalWindow('WindowDatabase')">Cancel</span>
            <br />
            <br />
            &nbsp;
        </center>
    </form>
</div>

<script>

    $(document).ready(function () {
        GetDatabaseList();
    });


</script>