
<div class='command-bar-container'>
    <span id='cmd_Save_EditTable' class='command-disabled-span'><span class='command-icon fas fa-save'>&nbsp;</span> Save</span>

    <span id='cmd_Delete_EditTable' class='command-disabled-span'><span class='command-icon fas fa-trash-alt'>&nbsp;</span> Delete</span>
</div>



<form id="EditTable" action="/" method="post">
    OldTableName: <input type="text" id="OldTableName" /><br />


    <table>
        <tr>
            <td>Table Name</td>
            <td><input type="text" id="TableName" /></td>
        </tr>
    </table>

</form>

<br />


<span onclick="OpenModalWindow('WindowDependentTable')"><span class="command-icon fas fa-save">&nbsp;</span> Open xxx</span>

<div id="divDependentTables"></div>

<div id="WindowDependentTable" class="modal-window">
    <div style="padding-top:5px;padding-left:10px;"><span>Add Database</span>  <span style="float:right;padding-right:10px;cursor:pointer;" onclick="CloseModalWindow('WindowDependentTable')">X</span></div>
    <hr />
    <div style="padding:25px;">

        <form id="EditDependentTable" action="/" method="post"  style="border-collapse: unset;">
            DependentTableId: <input type="text" id="DependentTableId" /><br />
            AppDatabaseId: <input type="text" id="AppDatabaseId" /><br />
            ParentOwner: <input type="text" id="ParentOwner" /><br />
            ParentTableName: <input type="text" id="ParentTableName" /><br />


            <table class="table-padding-md" style="border-collapse: unset;">
                <tr>
                    <td>ParentKey</td>
                    <td><input type="text" id="ParentKey" /></td>
                </tr>

                <tr>
                    <td>JoinType</td>
                    <td><input type="text" id="JoinType" /></td>
                </tr>
                <tr>
                    <td>Relation</td>
                    <td><input type="text" id="Relation" /></td>
                </tr>


                <tr>
                    <td>Owner</td>
                    <td><input type="text" id="Owner" /></td>
                </tr>
                <tr>
                    <td>TableName</td>
                    <td><input type="text" id="TableName" /></td>
                </tr>

                <tr>
                    <td>DependentKey</td>
                    <td><input type="text" id="DependentKey" /></td>
                </tr>


            </table>

        </form>

    </div>


</div>



<script>
    function Save_EditTable() {
        DisableButton("cmd_Save_EditTable");
        AppSpinner(true);


        var json = ToJsonString("EditTable");
        setTimeout(function () {
            $.ajax({
                url: "./Database/SaveTable",
                type: "POST",
                data: { appDatabaseId: AppDatabaseId, json: json },
                dataType: "json",
                success: function (data) {
                    if (data.Successful) {
                        SelectDatabase(AppDatabaseId);
                        SelectTable(AppDatabaseId, data.Id);
                        RefreshDOM("HighlightTable('" + data.Id + "')");

                    } else {
                        MessageBox("Error", data.ErrorMessage, false);
                    }
                },
                complete: function () {
                    AppSpinner(false);
                }
            });
        }, 500);

    }


    function Delete_EditTable() {
        var tableName = $("#EditTable #OldTableName").val();
        ConfirmBox("Warning", "Deleting " + tableName + " will delete all records in this table.  Proceed?", "DeleteTable_('" + tableName + "');")
    }


    function DeleteTable_(tableName) {

        AppSpinner(true);

        setTimeout(function () {
            $.ajax({
                url: "./Database/DeleteTable",
                type: "POST",
                data: { appDatabaseId: AppDatabaseId, tableName: tableName },
                dataType: "json",
                success: function (data) {
                    if (data.Successful) {
                        SelectDatabase(AppDatabaseId);
                        $(".data-objects").hide();
                        $("#divProperties").html("");


                    } else {
                        MessageBox("Error", data.ErrorMessage, false);
                    }
                },
                complete: function () {
                    AppSpinner(false);
                }
            });
        }, 500);

    }

</script>