


<form id="EditColumn" action="/" method="post">

    <table>
        <tr>
            <td>Column Name</td>
            <td><input type="text" name="ColumnName" id="ColumnName" value="" /></td>
        </tr>
        <tr>
            <td>Is Primary Key</td>
            <td><input type="checkbox" name="IsPrimaryKey" id="IsPrimaryKey" value="true" /></td>
        </tr>
        <tr>
            <td>Is Identity</td>
            <td><input type="checkbox" name="IsIdentity" id="IsIdentity" value="true" /></td>
        </tr>
        <tr>
            <td>Is Computed</td>
            <td><input type="checkbox" name="IsComputed" id="IsComputed" value="true" /></td>
        </tr>
        <tr>
            <td>Is Required</td>
            <td><input type="checkbox" name="IsRequired" id="IsRequired" value="true" /></td>
        </tr>
        <tr>
            <td>Data Type</td>
            <td>
                <select name="DataType" id="DataType">

                    <option value="">Not supported</option>
                    <option value="text">text</option>
                    <option value="varchar">varchar</option>
                    <option value="char">char</option>
                    <option value="nvarchar">nvarchar</option>
                    <option value="nchar">nchar</option>
                    <option value="ntext">ntext</option>
                    <option value="uniqueidentifier">uniqueidentifier</option>
                    <option value="datetime">datetime</option>
                    <option value="date">date</option>
                    <option value="time">time</option>
                    <option value="datetime2">datetime2</option>
                    <option value="smalldatetime">smalldatetime</option>
                    <option value="timestamp">timestamp</option>
                    <option value="bit">bit</option>
                    <option value="tinyint">tinyint</option>
                    <option value="smallint">smallint</option>
                    <option value="int">int</option>
                    <option value="real">real</option>
                    <option value="money">money</option>
                    <option value="float">float</option>
                    <option value="decimal">decimal</option>
                    <option value="numeric">numeric</option>
                    <option value="smallmoney">smallmoney</option>
                    <option value="bigint">bigint</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>Data Length</td>
            <td><input type="text" name="DataLength" id="DataLength" /></td>
        </tr>
    </table>

</form>


