
<style>
    .menu-item {
        min-width: 200px;
        white-space: nowrap;
        padding: 0.5em;
    }

    #RootMenus li {
        /*        border: 1px solid #ccc;*/
        width: 250px;
        cursor: move;
    }

    #RootMenus ul {
        list-style: none;
    }

    .menu-add-delete {
        display: none;
        color: #808080;
        left: 400px;
        float: right;
        margin-right: 10px;
        cursor: pointer;
    }

    .menu-item-command:hover {
        color: #f8aaaa;
    }


    .menu-item:hover {
        background-color: gainsboro;
    }

    .parent-menu-item:hover {
        background-color: gainsboro;
    }

    .parent-menu-item {
        padding-bottom: 5px;
        margin-left: 7px;
    }

    .menu-item-edit {
        cursor: pointer;
    }

        .menu-item-edit:hover {
            color: #ff6a00;
        }

    .menu-item-active {
        background-color: gainsboro;
        padding-right: 7px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
</style>

<table style="width:98%;">
    <tr>
        <td style="width:35%;"><ul id='RootMenus'></ul></td>

        <td style="width:65%; border-left:1px solid #808080;" valign="top">

            <div id="editMenuBox" style="display:none;margin-left:30px;">

                <div class="command-bar-container">
                    <span id="cmd_Save_EditMenu" class="command-disabled-span"><span class="command-icon fas fa-save">&nbsp;</span> Save</span>

                    <span id="cmd_Delete_EditMenu" class="command-disabled-span"><span class="command-icon fas fa-trash-alt">&nbsp;</span> Delete</span>
                </div>

                <form id="EditMenu" action="/" method="post">
                    PrimaryKeys: <input type="text" id="PrimaryKeys"  style="width:300px;" /><br />
                    ParentId: <input type="text" id="ParentId" /><br />
                    TargetId: <input type="text" id="TargetId" /><br />
                    <br /><br />
                    <table>
                        <tr>
                            <td>Menu Title</td>
                            <td><input type="text" name="MenuTitle" id="MenuTitle" value="" /></td>
                        </tr>

                        <tr>
                            <td valign="top">Target Type</td>
                            <td valign="top">

                                <ul style="list-style: none;">

                                    <li><input type='radio' name='TargetType' value=''> None</li>
                                    <li><input type='radio' name='TargetType' value='grid' /> Grid    <span id="span_grid" class="targetType-class" style="display:none;position:relative; left:25px;"><span class="command-icon fas fa-arrow-right">&nbsp;</span>  <select name="TargetGridId" id="TargetGridId"></select></span></li>
                                    <li><input type='radio' name='TargetType' value='form' /> Form    <span id="span_form" class="targetType-class" style="display: none; position: relative; left: 25px;"><span class="command-icon fas fa-arrow-right">&nbsp;</span>  <select name="TargetFormId" id="TargetFormId"></select></span></li>
                                    <li>
                                        <input type='radio' name='TargetType' value='page' /> Custom Page
                                        <span id="span_page" class="targetType-class" style="display: none; position: relative; left: 25px;">
                                            <span class="command-icon fas fa-arrow-right">&nbsp;</span>
                                            <input type="text" name="PageFile" id="PageFile" value="" style="width:300px;" />
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <font style="color:#808080;font-style:italic;">i.e. ~/Views/Home/FileName.cshtml</font>
                                        </span>
                                    </li>
                                </ul>

                            </td>
                        </tr>

                    </table>

                </form>

            </div>

        </td>
    </tr>
</table>

<script>
    $(document).ready(function () {
        GetAdminMenuList(0);

        GetMenuOptions();

        var groupName = "input:radio[name=\"TargetType\"]";
        $(groupName).click(function () {
            var radioVal = $(this).val()
            $(".targetType-class").hide();
            $("#span_" + radioVal).show();
        });
    });

    function GetMenuOptions() {
        $.ajax({
            url: "./Menu/GetMenuOptions",
            type: "POST",
            dataType: "json",
            success: function (data) {
                GetSelect("TargetGridId", data.Grids);
                GetSelect("TargetFormId", data.Forms);

                // manually enable change event for TargetGridId and TargetFormId because they are not part of the table schema
                $("#EditMenu #TargetGridId").change(function () {
                    EnableButton("cmd_Save_EditMenu");
                });
                $("#EditMenu #TargetFormId").change(function () {
                    EnableButton("cmd_Save_EditMenu");
                });
            }
        });
    }

    function Save_EditMenu() {

        // preprocess form  TargetId
        var targetType = $("#EditMenu input[name='TargetType']:checked").val();
        if (targetType == "grid") {
            $("#EditMenu #TargetId").val($("#EditMenu #TargetGridId").val());
            $("#EditMenu #TargetFormId").val("0")
            $("#EditMenu #PageFile").val("");
        } else if (targetType == "form") {
            $("#EditMenu #TargetId").val($("#EditMenu #TargetFormId").val());
            $("#EditMenu #TargetGridId").val("0")
            $("#EditMenu #PageFile").val("");
        } else if (targetType == "page") {
            $("#EditMenu #TargetId").val(0);
            $("#EditMenu #TargetGridId").val("0");
            $("#EditMenu #TargetFormId").val("0");

            if ($("#EditMenu #PageFile").val() == "") {
                MessageBox("Warning", "Page file required", true);
                return;
            }
        } else {
            $("#EditMenu #TargetId").val(0);
            $("#EditMenu #PageFile").val("");
        }


        //console.log("targetType=" + targetType);
        var json = ToJsonString("EditMenu");

        Save_EditMenu_(json);
    }

    function Save_EditMenu_(json) {
        DisableButton("cmd_Save_EditMenu");
        AppSpinner(true);

        setTimeout(function () { 
            $.ajax({
                url: "./Form/SaveFormData",
                type: "POST",
                data: { json: json },
                dataType: "json",
                success: function (clientResponse) {

                    if (clientResponse.Successful) {

                        console.log("PrimaryKeys=" + clientResponse.PrimaryKeys);

                        var data = JSON.parse(clientResponse.PrimaryKeys);
                        var menuId = data.MenuId;

                        if (clientResponse.ActionExecuted == "insert") {
                            SortMenu(menuId, 10000);
                            SelectMenu(menuId);
                        }

                        GetAdminMenuList(menuId);

                        // update menu 
                        GetMenuList();

                    } else {
                        MessageBox("Error", clientResponse.ErrorMessage, false);
                    }
                },
                complete: function () {
                    AppSpinner(false);
                }
            });
        }, 500);
    }

    function Delete_EditMenu() {
        var primaryKeys = JSON.parse($("#PrimaryKeys").val());
        var menuId = primaryKeys.MenuId;

        var menu = Menus.find(w => w.MenuId == menuId);
        ConfirmBox("Warning", "Delete " + menu.MenuTitle + "?", "DeleteMenu_(" + menu.MenuId + ");")
    }


    function DeleteMenu_(menuId) {
        var json = "{ \"FormId\" : \"1\", \"MenuId\" : \"" + menuId + "\" }";

        AppSpinner(true);
        $.ajax({
            url: "./Form/DeleteFormData",
            type: "POST",
            data: { json: json },
            dataType: "json",
            success: function (clientResponse) {
                if (clientResponse.Successful) {


                    // update menus
                    GetMenuList();



                    // hide edit menu box if current menuid deleted.  Set before object is created 
                    RandomRefreshObject = "";
                    var interval1 = setInterval(function () {
                        console.log("Looking for RandomRefreshObject=" + RandomRefreshObject);


                        if (RandomRefreshObject.length > 0) {
                            if ($("#" + RandomRefreshObject).length) {
                                console.log("Found RandomRefreshObject=" + RandomRefreshObject);


                                if ($("#EditMenu #PrimaryKeys").val().length > 2) {
                                    var primaryKeys = JSON.parse($("#EditMenu #PrimaryKeys").val());
                                    var menuId = primaryKeys.MenuId;
                                    var menu = Menus.filter(w => w.MenuId == menuId);


                                    console.log("current menuId=" + menuId + "  menu.length=" + menu.length);
                                    if (menu.length == 0) {
                                        $("#editMenuBox").hide();
                                    } else {
                                        // highlight current item 
                                        $(".highlight").removeClass("menu-item-active");

                                        var highlightId = menuId;
                                        if ($("#MenuId" + highlightId).hasClass("highlight")) {
                                            $("#MenuId" + highlightId).addClass("menu-item-active");
                                        } else {
                                            $("#MenuId" + highlightId + " div").addClass("menu-item-active");
                                        }
                                    }
                                } else {
                                    $("#editMenuBox").hide();
                                }


                                clearInterval(interval1);
                            }
                        }

                    }, 300);



                    GetAdminMenuList(0);






                } else {
                    MessageBox("Error", response, false);
                }





            },
            complete: function () {
                AppSpinner(false);
            }
        });
    }
</script>

