


<form id="EditColumn" action="/" method="post">

    <table>
        <tr>
            <td>Column Name</td>
            <td><input type="text" name="ColumnName" id="ColumnName" value="" /></td>
        </tr>
        <tr>
            <td>Is Primary Key</td>
            <td><input type="checkbox" name="IsPrimaryKey" id="IsPrimaryKey" value="true" /></td>
        </tr>
        <tr>
            <td>Is Identity</td>
            <td><input type="checkbox" name="IsIdentity" id="IsIdentity" value="true" /></td>
        </tr>
        <tr>
            <td>Is Computed</td>
            <td><input type="checkbox" name="IsComputed" id="IsComputed" value="true" /></td>
        </tr>
        <tr>
            <td>Is Required</td>
            <td><input type="checkbox" name="IsRequired" id="IsRequired" value="true" /></td>
        </tr>
        <tr>
            <td>Data Type</td>
            <td>
                <select name="DataType" id="DataType">
                </select>
            </td>
        </tr>

        <tr>
            <td>Data Length</td>
            <td><input type="text" name="DataLength" id="DataLength" /></td>
        </tr>
    </table>

</form>


<script>

    $(document).ready(function () {
        GetDataTypeOptions();
    });


    function GetDataTypeOptions() {
        var data = Lookups["DataTypes"];
        var obj = [];
        obj.push("<option value=\"\">Unknown</option>");
        for (var i in data) {
            var row = data[i];
            obj.push("<option value=\"" + row.DataType + "\">" + row.DataType + "</option>");
        }
        var str = obj.join("");
        $("#EditColumn #DataType").html(str);
    }

</script>