
<style>
    .menu-item {
        min-width: 200px;
        white-space: nowrap;
        padding: 0.5em;
    }

    #RootMenus li {
        /*        border: 1px solid #ccc;*/
        width: 250px;
        cursor: move;
    }

    #RootMenus ul {
        list-style: none;
    }

    .menu-add-delete {
        display: none;
        color: #808080;
        left: 400px;
        float: right;
        margin-right: 10px;
        cursor: pointer;
    }

    .menu-item-command:hover {
        color: #f8aaaa;
    }


    .menu-item:hover {
        background-color: gainsboro;
    }

    .parent-menu-item:hover {
        background-color: gainsboro;
    }

    .parent-menu-item {
        padding-bottom: 5px;
        margin-left: 7px;
    }

    .menu-item-edit {
        cursor: pointer;
    }

        .menu-item-edit:hover {
            color: #ff6a00;
        }

    .menu-item-active {
        background-color: gainsboro;
        padding-right: 7px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
</style>

<table style="width:98%;">
    <tr>
        <td style="width:35%;"><ul id='RootMenus'></ul></td>

        <td style="width:65%; border-left:1px solid #808080;" valign="top">

            <div id="editMenuBox" style="display:none;margin-left:30px;">

                <div class="command-bar-container">
                    <span id="cmd_Save_EditMenu" class="command-disabled-span"><span class="command-icon fas fa-save">&nbsp;</span> Save</span>

                    <span id="cmd_Delete_EditMenu" class="command-disabled-span"><span class="command-icon fas fa-trash-alt">&nbsp;</span> Delete</span>
                </div>

                <form id="EditMenu" action="/" method="post">
                    FormId: <input type="text" id="FormId" value="1" /><br />
                    MenuId: <input type="text" id="MenuId" /><br />
                    ParentId: <input type="text" id="ParentId" /><br />
                    TargetId: <input type="text" id="TargetId" /><br />
                    <br /><br />
                    <table>
                        <tr>
                            <td>Menu Title</td>
                            <td><input type="text" name="MenuTitle" id="MenuTitle" value="" /></td>
                        </tr>

                        <tr>
                            <td valign="top">Target Type</td>
                            <td valign="top">

                                <ul style="list-style: none;">

                                    <li><input type='radio' name='TargetType' value=''> None</li>
                                    <li><input type='radio' name='TargetType' value='grid' /> Grid    <span id="span_grid" class="targetType-class" style="display:none;position:relative; left:25px;"><span class="command-icon fas fa-arrow-right">&nbsp;</span>  <select name="TargetGridId" id="TargetGridId"></select></span></li>
                                    <li><input type='radio' name='TargetType' value='form' /> Form    <span id="span_form" class="targetType-class" style="display: none; position: relative; left: 25px;"><span class="command-icon fas fa-arrow-right">&nbsp;</span>  <select name="TargetFormId" id="TargetFormId"></select></span></li>
                                    <li>
                                        <input type='radio' name='TargetType' value='page' /> Custom Page
                                        <span id="span_page" class="targetType-class" style="display: none; position: relative; left: 25px;">
                                            <span class="command-icon fas fa-arrow-right">&nbsp;</span>
                                            <input type="text" name="PageFile" id="PageFile" value="" style="width:300px;" />
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <font style="color:#808080;font-style:italic;">i.e. ~/Views/Home/FileName.cshtml</font>
                                        </span>
                                    </li>
                                </ul>

                            </td>
                        </tr>

                    </table>

                </form>

            </div>

        </td>
    </tr>
</table>

<script>
    $(document).ready(function () {
        GetAdminMenuList(0);

        GetMenuOptions();

        var groupName = "input:radio[name=\"TargetType\"]";
        $(groupName).click(function () {
            var radioVal = $(this).val()
            $(".targetType-class").hide();
            $("#span_" + radioVal).show();
        });
    });

    function GetMenuOptions() {
        $.ajax({
            url: "./Menu/GetMenuOptions",
            type: "POST",
            dataType: "json",
            success: function (data) {
                GetSelect("TargetGridId", data.Grids);
                GetSelect("TargetFormId", data.Forms);

                // manually enable change event for TargetGridId and TargetFormId because they are not part of the table schema
                $("#EditMenu #TargetGridId").change(function () {
                    EnableButton("cmd_Save_EditMenu");
                });
                $("#EditMenu #TargetFormId").change(function () {
                    EnableButton("cmd_Save_EditMenu");
                });
            }
        });
    }

    function Save_EditMenu() {

        // preprocess form  TargetId
        var targetType = $("#EditMenu input[name='TargetType']:checked").val();
        if (targetType == "grid") {
            $("#EditMenu #TargetId").val($("#EditMenu #TargetGridId").val());
            $("#EditMenu #PageFile").val("");
        } else if (targetType == "form") {
            $("#EditMenu #TargetId").val($("#EditMenu #TargetFormId").val());
            $("#EditMenu #PageFile").val("");
        } else if (targetType == "page") {
            $("#EditMenu #TargetId").val(0);

            if ($("#EditMenu #PageFile").val() == "") {
                MessageBox("Warning", "Page file required", true);
                return;
            }
        } else {
            $("#EditMenu #TargetId").val(0);
            $("#EditMenu #PageFile").val("");
        }

        var json = ToJsonString("EditMenu");

        Save_EditMenu_(json);
    }

    function Save_EditMenu_(json) {
        DisableButton("cmd_Save_EditMenu");
        AppSpinner(true);

        setTimeout(function () { 
            $.ajax({
                url: "./Data/SaveFormData",
                type: "POST",
                data: { json: json },
                dataType: "text",
                success: function (menuId) {
                    if ($("#EditMenu #MenuId").val() == "0") {
                        $("#EditMenu #MenuId").val(menuId);
                        SortMenu(menuId, 10000);
                    }
                    
                    GetAdminMenuList(menuId);

                    // update menu 
                    GetMenuList();

                    // update Menus array
                    //UpdateArray("Menus", "MenuId", menuId, "MenuTitle", $("#EditMenu #MenuTitle").val());


                    //MessageBox("Information", response, false);
                },
                complete: function () {
                    AppSpinner(false);
                }
            });
        }, 500);
    }

    function Delete_EditMenu() {
        var menu = Menus.find(w => w.MenuId == $("#EditMenu #MenuId").val());
        ConfirmBox("Warning", "Delete " + menu.MenuTitle + "?", "DeleteMenu_(" + menu.MenuId + ");")
    }


    function DeleteMenu_(menuId) {
        var json = "{ \"FormId\" : \"1\", \"MenuId\" : \"" + menuId + "\" }";

        AppSpinner(true);
        $.ajax({
            url: "./Data/DeleteData",
            type: "POST",
            data: { json: json },
            dataType: "text",
            success: function (response) {
                if (response == "SUCCESS") {
                    GetAdminMenuList(0);

                    // update menu 
                    GetMenuList();
                } else {
                    MessageBox("Error", response, false);
                }


                if (menuId == $("#EditMenu #MenuId").val()) {
                    $("#editMenuBox").hide();
                } else {
                    // highlight current item 
                    setTimeout(function () {
                        $(".highlight").removeClass("menu-item-active");

                        var highlightId = $("#EditMenu #MenuId").val();
                        if ($("#MenuId" + highlightId).hasClass("highlight")) {
                            $("#MenuId" + highlightId).addClass("menu-item-active");
                        } else {
                            $("#MenuId" + highlightId + " div").addClass("menu-item-active");
                        }
                    }, 1000);
                }
            },
            complete: function () {
                AppSpinner(false);
            }
        });
    }
</script>

