
<style>
    .connectedFormColumns li {
        padding: 3px;
        width: 250px;
        cursor: move;
    }

    .form-section-header li {
        padding: 5px;
        width: 410px;
        cursor: move;
    }

    .edit-formlayout-section, .edit-formlayout-column {
        cursor: pointer;
    }

        .edit-formlayout-section:hover, .edit-formlayout-column:hover {
            color: #ff0000;
        }
</style>


<div class="command-bar-container">
    <span id="cmd_Save_EditForm" class="command-disabled-span"><span class="command-icon fas fa-save">&nbsp;</span> Save</span>
</div>

<form id="EditForm" name="EditForm">
    FormId <input type="text" id="FormId" value="" /><br />
    AppDatabaseId <input type="text" id="AppDatabaseId" /><br />
    TableName <input type="text" id="TableName" /><br />

    <hr />

    <table>
        <tr>
            <td>Form Name</td>
            <td><input type="text" id="FormName" name="FormName" /></td>
        </tr>
    </table>

    <ul id="FormTab" class="custom-tab">
        <li>Template Layout</li>
        <li>Custom Layout</li>
        <li>Page File</li>
    </ul>

    <ul id="FormTabContent" class="custom-tab-content">
        <li>

            <table style="width:100%;" border="1">
                <tr>
                    <td style="width:20%;">
                        Available Columns
                    </td>
                    <td style="width:80%;">
                        <span onclick="EditSection(0)" class="command-active-span"><span class="command-icon-small fas fa-plus">&nbsp;</span> Add Section</span>
                    </td>
                </tr>

                <tr>
                    <td style="width:20%;" valign="top">
                        <div id="FormAvailableColumns"></div>
                    </td>
                    <td style="width:80%;" valign="top">
                        <div id="FormSections"></div>
                    </td>
                </tr>

            </table>

        </li>

        <li>
            Custom layout
        </li>

        <li>

            <table>
                <tr>
                    <td>Page File</td>
                    <td><input type="text" id="PageFile" name="PageFile" /></td>
                </tr>
            </table>
        </li>
    </ul>

</form>



<div id="WindowEditFormSection" class="modal-window">
    <div style="padding-top:5px;padding-left:10px;"><span>Add Section</span>  <span style="float:right;padding-right:10px;cursor:pointer;" onclick="CloseModalWindow('WindowEditFormSection')">X</span></div>
    <hr />
    <div style="padding:25px;">
        <div id="EditFormSection"></div>
    </div>
</div>



<div id="WindowEditFormColumn" class="modal-window">
    <div style="padding-top:5px;padding-left:10px;"><span>Add Column</span>  <span style="float:right;padding-right:10px;cursor:pointer;" onclick="CloseModalWindow('WindowEditFormColumn')">X</span></div>
    <hr />
    <div style="padding:25px;">
        <div id="EditFormColumn"></div>
    </div>
</div>


<script>

    function Save_EditForm() {

        DisableButton("cmd_Save_EditForm");

        AppSpinner(true);

        // set FormType  0-Template Layout (template)   1-Custom Layout (custom)  3-Page File (page)
        var FormType = 0;
        var i = 0;
        $("#FormTab li").each(function () {
            if ($(this).hasClass("custom-tab-active")) {
                FormType = i;
            }
            i++;
        });

        $("#EditForm #FormType").val(FormType);

        var json = ToJsonString("EditForm");

        console.log("EditForm json=" + json);

        setTimeout(function () {
            $.ajax({
                url: "./Form/SaveFormData",
                type: "POST",
                data: { json: json },
                dataType: "text",
                success: function (id) {


                },
                complete: function () {
                    AppSpinner(false);
                }
            });
        }, 300);
    }
</script>