<style>
    ul, #objectExplorer {
        list-style-type: none;
    }

    #objectExplorer ul li {
        white-space: nowrap;
    }

    #objectExplorer {
        padding: 0;
        margin-left: 5px;
    }


    .caret-tree {
        cursor: pointer;
        user-select: none;
        border: 1px solid #ccc;
        padding: 0;
        margin: 0;
    }

        .caret-tree::before {
            content: "+";
            color: black;
            padding: 0;
            margin: 0;
        }


    .xxx::before {
        content: "+";
        color: black;
        padding: 0;
        margin: 0;
        border: 1px solid #ccc;
        cursor: pointer;
    }

    .caret-tree-down::before {
        content: "-";
        padding-left: 3px;
        padding-right: 2px;
    }

    .caret-tree-nested {
        display: none;
    }

    .caret-tree-active {
        display: block;
    }

    .data-object-bar {
        width: 100%;
        background-color: #ccc;
        padding: 5px;
    }



    div.scroll {
        width: 100%;
        overflow: auto;
        border: solid 1px #ccc;
        border-radius: 5px;
    }



    .highlight-item:hover {
        background-color: #ff6a00;
        cursor: pointer;
    }
    

</style>


<center>
    <table style="width:98%;">

        <tr>
            <td class="command-bar" style="width:22%;">
                Object Explorer
                <span onclick="DeleteDatabase()">[..]</span>
            </td>
            <td class="command-bar" style="width:72%;">
                Properties
            </td>

        </tr>

        <tr valign="top">
            <td class="" style="border:solid 1px #ccc;width:22%;">
                <div id="divObjectExplorer" class="scroll"></div>
            </td>
            <td style="width:72%;">
                <div id="divProperties">
                </div>

            </td>

        </tr>

    </table>

</center>


<div id="WindowDatabase" class="modal-window">
    <div style="padding-top:5px;padding-left:10px;"><span>Add Database</span>  <span style="float:right;padding-right:10px;cursor:pointer;" onclick="CloseModalWindow('WindowDatabase')">X</span></div>
    <hr />


</div>

<script>

    $(document).ready(function () {
        GetDatabaseList();

        var h = window.innerHeight - 200;
        $(".scroll").css("height",h + "px");
    });


</script>