<style>
    .accordion-panel {
        display: none;
        margin-left: 10px;
    }

    .accordion {
        cursor: pointer;
        margin-left: 1px;
    }

    .data-object-bar {
        width: 100%;
        background-color: #ccc;
        padding: 5px;
    }
</style>

<style>
    div.scroll {
        width: 100%;
        
        overflow: auto;
        border: solid 1px #ccc;
        border-radius: 5px;
    }
</style>


<center>
    <table style="width:98%;">

        <tr>
            <td class="command-bar" style="width:10%;">
                Databases
                <span onclick="DeleteDatabase()">[x]</span>
                <span onclick="AddDatabase()">[+]</span>
            </td>
            <td class="command-bar" style="width:10%;">
                Tables
                <span>[x]</span>
                <span onclick="AddTable()">[+]</span>
            </td>
            <td class="command-bar" style="width:10%;">
                Data Objects
            </td>
            <td class="command-bar" style="width:70%;">
                Properties
            </td>

        </tr>

        <tr valign="top">
            <td class="" style="border:solid 1px #ccc;width:13%;">
                <div id="divAppDatabases"></div>
            </td>
            <td class="" style="border:solid 1px #ccc;width:13%;">
                <div id="divAppTables"></div>
            </td>
            <td class="" style="border:solid 1px #ccc;width:13%;">
                <table class="data-objects" style="width:100%;display:none;">

                    <tr>
                        <td style="padding-bottom:20px;">


                            <div class="data-object-bar"><span class="accordion"><span class='fas fa-caret-right'>&nbsp;</span></span> Fields</div>
                            <div id="divColumns" class="accordion-panel">

                            </div>


                        </td>
                    </tr>


                    <tr>
                        <td style="padding-bottom:20px;">

                            <div class="data-object-bar"><span class="accordion"><span class='fas fa-caret-right'>&nbsp;</span></span> Grids</div>
                            <div id="divGrids" class="accordion-panel">

                            </div>

                        </td>
                    </tr>


                    <tr>
                        <td style="padding-bottom:20px;">
                            <div class="data-object-bar"><span class="accordion"><span class='fas fa-caret-right'>&nbsp;</span></span> Forms</div>
                            <div id="divForms" class="accordion-panel">

                            </div>

                        </td>
                    </tr>

                    <tr>
                        <td style="padding-bottom:20px;">
                            <div class="data-object-bar"><span class="accordion"><span class='fas fa-caret-right'>&nbsp;</span></span> Search Forms</div>
                            <div id="divSearchForms" class="accordion-panel">

                            </div>

                        </td>
                    </tr>


                </table>

            </td>
            <td style="width:60%;">
                <div id="divProperties">
                </div>

            </td>

        </tr>

    </table>

</center>


<div id="WindowDatabase" class="modal-window">
    <div style="padding-top:5px;padding-left:10px;"><span>Add Database</span>  <span style="float:right;padding-right:10px;cursor:pointer;" onclick="CloseModalWindow('WindowDatabase')">X</span></div>
    <hr />


</div>

<script>

    $(document).ready(function () {
        GetDatabaseList();


        $(".accordion").click(function () {

            var panel = this.closest("div").nextElementSibling;

            if (panel.style.display === "block") {
                panel.style.display = "none";
                $(this).html("<span class='fas fa-caret-right'>&nbsp;</span>");
            } else {
                panel.style.display = "block";
                $(this).html("<span class='fas fa-caret-down'>&nbsp;</span>");
            }
        });

    });


</script>