<style>
    .custom-tab-content {
        list-style-type: none;
        padding: 10px;
    }
    .custom-tab {
        list-style-type: none;
        margin: 0;
        padding-top: 3px;
        overflow: hidden;
        background-color: #ccc;
    }

        .custom-tab li {
            float: left;
            cursor: pointer;
            margin-right: 5px;
            padding: 3px;
            padding-right: 10px;
        }

            .custom-tab li:hover {
                background-color: #eee;
                border-top-right-radius: 7px;
                border-top-left-radius: 7px;
            }

    .custom-tab-active {
        background-color: #eee;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
    }
</style>


<ul id="xxx" class="custom-tab">
    <li>Oskaloosa</li>
    <li>Tampa</li>
    <li>Denver</li>
</ul>

<ul id="xxxContent" class="custom-tab-content">
    <li>Oskaloosa xxxContent</li>
    <li>Tampa xxxContent</li>
    <li>Denver xxxContent</li>
</ul>





<script>

    TabIt("xxx", 2);



</script>