<h2>Accordion</h2>
<style>
    .accordion-panel {
        display: none;
        margin-left: 25px;
    }

    .accordion {
        cursor: pointer;
        margin-left: 10px;
    }
</style>



<table>

    <tr>
        <td style="padding-bottom:20px;">


            <div><span class="accordion" expand="divColumns"><span class='fas fa-caret-right'>&nbsp;</span></span> Fields</div>
            <div id="divColumns" class="accordion-panel">
                aaaa
            </div>


        </td>
    </tr>


    <tr>
        <td style="padding-bottom:20px;">

            <div><span class="accordion" expand="divGrids"><span class='fas fa-caret-right'>&nbsp;</span></span> Grids</div>
            <div class="accordion-panel">
                bbbbb
            </div>

        </td>
    </tr>


    <tr>
        <td style="padding-bottom:20px;">
            <div><span class="accordion" expand="divForms"><span class='fas fa-caret-right'>&nbsp;</span></span> Forms</div>
            <div class="accordion-panel">
                ccccc
            </div>

        </td>
    </tr>

    <tr>
        <td style="padding-bottom:20px;">
            <div><span class="accordion" expand="divSearchForms"><span class='fas fa-caret-right'>&nbsp;</span></span> Search Forms</div>
            <div class="accordion-panel">
                dddddd
            </div>

        </td>
    </tr>


</table>

<script>

    $(".accordion").click(function () {

        var panel = this.closest("div").nextElementSibling;

        //alert($(panel).attr("id"));
        //$(panel).toggleSlide();
        if (panel.style.display === "block") {
            panel.style.display = "none";
            $(this).html("<span class='fas fa-caret-right'>&nbsp;</span>");
        } else {
            panel.style.display = "block";
            $(this).html("<span class='fas fa-caret-down'>&nbsp;</span>");
        }
    });

</script>